.watchlistCard {
  background: #fff;
  padding: 25px;
  border-radius: 18px;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.05);
}

.watchlistHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.watchlistHeader button {
  background: #387ed1;
  color: #fff;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
}

.watchlistItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  border-bottom: 1px solid #eee;
  transition: 0.3s;
}

.watchlistItem:hover {
  transform: translateX(5px);
}

.watchlistItem:last-child {
  border-bottom: none;
}

.watchlistItem h4 {
  margin: 0;
}

.watchlistItem small {
  color: #777;
}

.watchlistRight {
  text-align: right;
}

.watchProfit {
  color: #16a34a;
  font-weight: 600;
}

.watchLoss {
  color: #dc2626;
  font-weight: 600;
}
