.assetCard{

background:#fff;

padding:25px;

border-radius:18px;

box-shadow:0 5px 18px rgba(0,0,0,.05);

}

.assetCard h2{

margin-bottom:20px;

}

.assetContent{

display:flex;

flex-direction:column;

align-items:center;

}

.assetLegend{

width:100%;

margin-top:15px;

}

.legendItem{

display:flex;

align-items:center;

justify-content:space-between;

padding:10px 0;

}

.colorDot{

width:14px;

height:14px;

border-radius:50%;

margin-right:12px;

}

.legendItem p{

flex:1;

margin-left:12px;

font-weight:500;

}