.performanceCard{

background:#fff;

padding:25px;

border-radius:18px;

box-shadow:0 5px 18px rgba(0,0,0,.05);

}

.performanceCard h2{

margin-bottom:20px;

}

.performanceItem{

display:flex;

justify-content:space-between;

align-items:center;

padding:14px 0;

border-bottom:1px solid #eee;

}

.performanceItem span{

font-weight:500;

}

.performanceItem strong{

font-size:18px;

}

.performanceItem small{

color:#777;

}

.riskBox{

margin-top:25px;

}

.riskBox h3{

margin-bottom:15px;

}

.riskBox p{

margin:10px 0;

}

.profit{

color:#18a558;

}

.loss{

color:#e53935;

}