.fundsCard {
  margin-top: 35px;
  background: white;
  padding: 28px;
  border-radius: 18px;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.05);
}

.fundsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.fundButtons {
  display: flex;
  gap: 12px;
}

.addBtn {
  background: #387ed1;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
}

.withdrawBtn {
  background: #fff;
  color: #387ed1;
  border: 1px solid #387ed1;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
}

.fundGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.fundBox {
  background: #f8fbff;
  padding: 20px;
  border-radius: 14px;
}

.fundBox span {
  color: #777;
  font-size: 14px;
}

.fundBox h2 {
  margin-top: 10px;
  font-size: 28px;
  color: #222;
}

@media (max-width: 768px) {
  .fundGrid {
    grid-template-columns: 1fr;
  }
}
