/* ==========================
        FAQ SECTION
========================== */

.faq-section {
  padding: 90px 0 120px;

  background: #fff;
}

.faq-title {
  font-size: 2.2rem;

  font-weight: 600;

  color: #424242;

  margin-bottom: 45px;
}

/* Accordion */

.custom-item {
  border: none;

  border-bottom: 1px solid #e9e9e9;
}

.accordion-button {
  position: relative;

  background: #fff !important;

  box-shadow: none !important;

  padding: 26px 0;

  font-size: 22px;

  font-weight: 500;

  color: #424242;
}

/* Hover underline animation */

.accordion-button::before {
  content: "";

  position: absolute;

  top: 0;

  left: 0;

  width: 110px;

  height: 3px;

  background: #387ed1;

  transform: scaleX(0);

  transform-origin: left;

  transition: 0.35s ease;
}

.custom-item:hover .accordion-button::before {
  transform: scaleX(1);
}

/* Active */

.accordion-button:not(.collapsed)::before {
  transform: scaleX(1);
}

.accordion-button:not(.collapsed) {
  color: #387ed1;
}

/* Answer */

.accordion-body {
  padding: 5px 0 28px;

  font-size: 18px;

  color: #666;

  line-height: 1.9;
}

.accordion-body ul {
  margin: 15px 0 0 18px;
}

.accordion-body li {
  margin-bottom: 10px;
}

/* Arrow */

.accordion-button::after {
  transition: 0.35s;
}

.accordion-button:not(.collapsed)::after {
  transform: rotate(-180deg);
}

/* Mobile */

@media (max-width: 992px) {
  .faq-title {
    font-size: 1.9rem;
  }

  .accordion-button {
    font-size: 18px;
  }

  .accordion-body {
    font-size: 16px;
  }
}
