.summaryGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  margin-top: 35px;
}

.summaryCard {
  background: var(--surface);
  color: var(--text);
  padding: 28px;
  border-radius: 18px;
  box-shadow: var(--shadow);

  transition:
    background 0.2s ease,
    color 0.2s ease,
    box-shadow 0.2s ease,
    transform 0.3s ease;
}

.summaryCard:hover {
  transform: translateY(-5px);
}

.cardIcon {
  width: 55px;
  height: 55px;

  background: var(--hover-bg);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 22px;
  color: var(--primary);

  margin-bottom: 20px;
}

.summaryCard h4 {
  font-size: 16px;
  color: var(--text-secondary);
  margin-bottom: 10px;
}

.summaryCard h2 {
  font-size: 28px;
  color: var(--text);
  margin: 0;
}

/* =========================================
   PROFIT / LOSS
========================================= */

.summaryCard .profit {
  color: var(--success);
}

.summaryCard .loss {
  color: var(--danger);
}

/* =========================================
   RESPONSIVE
========================================= */

@media (max-width: 1200px) {
  .summaryGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 650px) {
  .summaryGrid {
    grid-template-columns: 1fr;
  }
}