.dashboardHome {
  margin-bottom: 25px;
}

.dashboardHome h1 {
  margin: 0;

  color: var(--text);

  font-size: 30px;

  font-weight: 650;
}

.dashboardHome p {
  margin: 7px 0 0;

  color: var(--text-secondary);

  font-size: 14px;
}