.portfolioPage {
  color: var(--text);
}

.portfolioHeader {
  display: flex;

  align-items: center;

  justify-content: space-between;

  margin-bottom: 25px;
}

.portfolioHeader h1 {
  margin: 0;

  color: var(--text);

  font-size: 30px;
}

.portfolioHeader p {
  margin: 6px 0 0;

  color: var(--text-secondary);

  font-size: 14px;
}

.portfolioReportBtn {
  border: none;

  background: #2878d7;

  color: white;

  padding: 11px 18px;

  border-radius: 9px;

  cursor: pointer;

  font-weight: 600;
}

.portfolioStats {
  display: grid;

  grid-template-columns:
    repeat(4, minmax(0, 1fr));

  gap: 18px;

  margin-bottom: 25px;
}

.portfolioStatCard {
  background: var(--card);

  border: 1px solid var(--border);

  border-radius: 16px;

  padding: 22px;

  box-shadow:
    0 5px 20px rgba(0, 0, 0, 0.03);
}

.portfolioStatCard span {
  color: var(--text-secondary);

  font-size: 13px;
}

.portfolioStatCard h2 {
  margin: 10px 0 5px;

  color: var(--text);

  font-size: 24px;
}

.portfolioStatCard small {
  color: var(--muted);

  font-size: 11px;
}

.profitText,
.positive {
  color: #12b76a !important;
}

.negative {
  color: #f04438 !important;
}

.portfolioSection {
  background: var(--card);

  border: 1px solid var(--border);

  border-radius: 16px;

  padding: 22px;

  margin-bottom: 22px;
}

.portfolioSectionHeader {
  margin-bottom: 18px;
}

.portfolioSectionHeader h2 {
  margin: 0;

  color: var(--text);

  font-size: 19px;
}

.portfolioSectionHeader p {
  margin: 5px 0 0;

  color: var(--text-secondary);

  font-size: 12px;
}

.portfolioTableWrapper {
  width: 100%;

  overflow-x: auto;
}

.portfolioTable {
  width: 100%;

  border-collapse: collapse;

  min-width: 750px;
}

.portfolioTable th {
  text-align: left;

  padding: 13px;

  color: var(--text-secondary);

  font-size: 11px;

  border-bottom: 1px solid var(--border);
}

.portfolioTable td {
  padding: 17px 13px;

  color: var(--text);

  font-size: 12px;

  border-bottom: 1px solid var(--border);
}

.portfolioStock {
  display: flex;

  flex-direction: column;
}

.portfolioStock strong {
  color: var(--text);
}

.portfolioStock small {
  margin-top: 3px;

  color: var(--muted);
}

.emptyPortfolio {
  text-align: center;

  padding: 40px !important;

  color: var(--muted) !important;
}

.performancePlaceholder {
  padding: 40px;

  border: 1px dashed var(--border);

  border-radius: 12px;

  text-align: center;
}

.performancePlaceholder h3 {
  color: var(--text);
}

.performancePlaceholder p {
  color: var(--text-secondary);
}

@media (max-width: 1000px) {
  .portfolioStats {
    grid-template-columns:
      repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .portfolioStats {
    grid-template-columns: 1fr;
  }

  .portfolioHeader {
    align-items: flex-start;

    flex-direction: column;

    gap: 15px;
  }
}