.settingsPage {
  min-height: calc(100vh - 100px);

  padding: 5px 0 40px;

  color: var(--text);
}

/* HEADER */

.settingsHeader {
  margin-bottom: 25px;
}

.settingsHeader h1 {
  margin: 0;

  color: var(--text);

  font-size: 30px;
}

.settingsHeader p {
  margin: 7px 0 0;

  color: var(--text-secondary);

  font-size: 14px;
}

/* CARD */

.settingsCard {
  background: var(--card);

  border: 1px solid var(--border);

  border-radius: 16px;

  margin-bottom: 20px;

  overflow: hidden;

  box-shadow:
    0 5px 20px rgba(0, 0, 0, 0.03);

  transition:
    background 0.3s,
    border-color 0.3s;
}

.settingsCardHeader {
  padding: 22px 24px;

  border-bottom: 1px solid var(--border);
}

.settingsCardHeader h2 {
  margin: 0;

  color: var(--text);

  font-size: 18px;
}

.settingsCardHeader p {
  margin: 6px 0 0;

  color: var(--text-secondary);

  font-size: 13px;
}

.settingsRows {
  padding: 0 24px;
}

/* ROW */

.settingsRow {
  min-height: 76px;

  display: flex;

  align-items: center;

  justify-content: space-between;

  gap: 20px;

  border-bottom: 1px solid var(--border);
}

.settingsRow:last-child {
  border-bottom: none;
}

.settingsRowInfo {
  display: flex;

  align-items: center;

  gap: 14px;
}

.settingsIcon {
  width: 40px;
  height: 40px;

  border-radius: 11px;

  display: flex;

  align-items: center;
  justify-content: center;

  background: #edf5ff;

  color: #2878d7;

  flex-shrink: 0;
}

.settingsRow strong {
  color: var(--text);

  font-size: 14px;
}

.settingsRow p {
  margin: 5px 0 0;

  color: var(--text-secondary);

  font-size: 12px;
}

/* TOGGLE */

.toggle {
  width: 48px;
  height: 26px;

  border: none;

  border-radius: 20px;

  background: #64748b;

  padding: 3px;

  cursor: pointer;

  transition: 0.25s;

  flex-shrink: 0;
}

.toggle span {
  display: block;

  width: 20px;
  height: 20px;

  background: white;

  border-radius: 50%;

  transition: 0.25s;
}

.toggle.active {
  background: #2878d7;
}

.toggle.active span {
  transform: translateX(22px);
}

/* ACTION */

.settingsAction {
  border: 1px solid #2878d7;

  background: transparent;

  color: #2878d7;

  padding: 9px 17px;

  border-radius: 8px;

  cursor: pointer;

  font-weight: 600;
}

.settingsAction:hover {
  background: #2878d7;

  color: white;
}

/* MOBILE */

@media (max-width: 650px) {
  .settingsPage {
    padding: 0 0 30px;
  }

  .settingsRow {
    min-height: 85px;
  }

  .settingsRowInfo {
    gap: 10px;
  }

  .settingsIcon {
    width: 35px;
    height: 35px;
  }
}